/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  text-align: center;
  position: relative;
  list-style: none;
  overflow: hidden;
  display: inline-block;
  margin-top: 1px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
    text-align: center;
    position: relative;
  padding: 10px;
  display: inline-block;

  }

.rslides li:first-child {
  display: block;
  float: left;

  }

.rslides img {
  }



